.body {
    overflow-x: hidden;
  }
  
  .my-content {
    position: relative;
    transition: margin-left 0.5s;
  }
  
  .menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    width: 327px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5C5C5C;
    transition: 0.5s;
    transform: translateX(-100%);
  }
  
  .menu_active {
    transform: translateX(0%);
  }
  
  .menu-list a {
    text-decoration: none;
    font: Fixel Display;
    font-size: 16px;
    font-weight: 400;
    color: #CACACA;
    margin-top: 10px;
  }

  .menu-btn img, .menu2-btn img {
    box-sizing: border-box;
    padding: 5px;
  }
  
  .menu-btn {
    z-index: 1000;
  
    position: absolute;
    right: -70px;
    top: 0px;
    font-family: 'Figma Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }
  
  #create-user {
    margin-top: 10px;
    margin-right: 60px;

  }
  
  #create-user:hover{
    transition:150ms;
    background-color: #45aac4;
   }
  
  .full-height-70px-width-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    background-color: #5C5C5C;
    z-index: 1;
  }
  
  .div-70x70px {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: #2c2c2c;
    z-index: -2;
    cursor: pointer;
  }
  
  .menu-bckground {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    width: 327px;
    height: 70px;
    background-color: #2c2c2c;
  }
  
  .in-menu-div-70x70px {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    background-color: #2c2c2c;
    z-index: -2;
    cursor: pointer;
  }
  
  .menu2-btn {
    z-index: 1000;
    position: absolute;
    right: 0px;
    top: 0px;
    font-family: 'Figma Hand';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
  }
  
  #active-page {
    position: absolute;
    width: 186px;
    height: 28px;
    left: 130px;
    top: 21px;
    text-decoration: none;
    font-family: 'Fixel Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #353535;
  }
  
  .full-page-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DFDFDF;
    z-index: -100;
  }
  
  .white-stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    z-index: -99;
  }
  
  .rectangle-5 {
    position: absolute;
    height: 85vh;
    left: 104px;
    right: 34px;
    top: 118px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    overflow-x: auto;
  }
  
  .input-group.mb-3 {
    position: absolute;
    display: flex;
    height: 38px;
    left: 170px;
    width: auto;
    margin-right: 185px;
    right: 50px;
    top: 35px;
    border: 1px solid #CACACA;
    border-radius: 5px;
    z-index: 10;
  }
  
  .mytable {
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 20px;
    width: auto;
    overflow-x: auto;
  }
  
  .home-img {
    position: absolute;
    opacity: 1;
    top: 123px;
    left: 19px;
  }
  
  .products-img {
    position: absolute;
    opacity: 1;
    top: 172px;
    left: 21px;
  }
  
  .clients-img {
    position: absolute;
    opacity: 1;
    top: 217px;
    left: 21px;
  }

  .analytics-img{
 
    position: absolute;
    opacity: 1;
    top: 260px;
    left: 21px;
  }

  .user-img{
    position: absolute;
    opacity: 1;
    top: 300px;
    left: 21px; 
  }
  
  #href-main {
    position: absolute;
    width: 65px;
    height: 22px;
    left: 61px;
    top: 130px;
    font-family: 'Fixel Display';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #CACACA;
  }
  
  #href-products {
    position: absolute;
    width: 149px;
    height: 22px;
    left: 61px;
    top: 172px;
    font-family: 'Fixel Display';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #CACACA;
  }
  
  #href-clients {
    position: absolute;
    width: 61px;
    height: 22px;
    left: 61px;
    top: 217px;
    font-family: 'Fixel Display';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #CACACA;
   }

   .herf-analytics{
    position: absolute;
    width: 61px;
    height: 22px;
    left: 61px;
    top: 260px;
    font-family: 'Fixel Display';
    font-style: normal;
    font: 12px;
    line-height: 22px;
    color: #CACACA;
  }
  
  .href-user{
    position: absolute;
    width: 61px;
    height: 22px;
    left: 61px;
    top: 300px;
    font-family: 'Fixel Display';
    font-style: normal;
    font: 12px;
    line-height: 22px;
    color: #CACACA;
  }
   
   #usersTable {
    width: 100%;
    border-collapse: collapse;
   }
   
   #usersTable th,
   #usersTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
   }
   
   .modal-body {
    font-size: 16px;
   }
   
   .modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   
   .modal-footer .btn {
    margin-left: 5px;
   }
   
   .modal-footer .btn:first-child {
    margin-left: 0;
   }
   
   .modal-footer .btn-outline-danger {
    margin-right: auto;
   }
   
   .modal-footer .btn-outline-primary {
    margin-left: auto;
    margin-right: 5px;
   }
   
   .modal-footer .btn-primary {
    margin-left: 5px;
    margin-right: 0;
   }
   
   .content-shifted {
    margin-left: 327px;
    transition: margin-left 0.5s;
   }
   
   #createUserModal .modal-dialog {
    max-width: 550px;
   }
   
   #createUserModal .modal-body {
    max-height: 650px;
    overflow-y: auto;
   }
   
   
   #searchButton:hover {
    transition: 150ms;
    background-color: #45aac4;
    
   }
   #details-button{
    padding: 3px !important;
    font-size: 15px;
   }

   .order-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    color: #3c763d;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 9999;
  }
  
  .order-alert .bell-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .order-alert span {
    flex-grow: 1;
  }
  
  .order-alert .close-btn {
    background: none;
    border: none;
    color: #3c763d;
    font-size: 20px;
    cursor: pointer;
  }

  .exit-img{
    position: absolute;
    opacity: 1;
    top: 89.3vh;
    left: 21px;
}

.exit1-img{
    position: absolute;
    opacity: 1;
    top: 89.3vh;
    left: 110px;
}

.href-exit{
    position: absolute;
    width: 61px;
    height: 22px;
    left: 145px;
    top: 90vh;
    font-family: 'Fixel Display';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #CACACA;
}