<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список доставок</title>
    <link rel="stylesheet" href="../static/css/delivery.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body>
    <div class="white-stripe"></div>
    <div class="full-page-background"></div>    
    <div class="my-content">    
        <div class="full-height-70px-width-div">
            <a class="home-img" href="#"><img src="/static/images/home2.png" width="30px" height="30px" ></a>
            <a class="products-img" href="#"><img src="/static/images/shopping-cart2.png" width="25px" height="26px" ></a>
            <a class="clients-img" href="#"><img src="/static/images/group2.png" width="30px" height="30px" ></a>
            <a class="analytics-img" href="#"> <img src="/static/images/analytics.png" width="30px" height="30px" > </a>
            <a class="user-img" href="#"><img src="/static/images/user.png" width="30px" height="30px" ></a>
            <a class="exit-img" href="#"><img src="/static/images/exit.png" width="30px" height="30px" ></a>
            <div class="div-70x70px"></div>
        </div>

        <div class="menu">
            <div class="menu-bckground">
                <div class="in-menu-div-70x70px">
                    <a class="menu2-btn" href="#"><img src="/static/images/logo.png" width="70px" height="70px" ></a>
                </div>
            </div>
            <a class="menu-btn" href="#"><img src="/static/images/logo.png" width="70px" height="70px" ></a>
            <nav class="menu-list">
                <a class="home-img" href="#"><img src="/static/images/home1.png" width="30px" height="30px" ></a>
                <a id="href-main" href="#">Головна</a>
                <a class="products-img" href="#"><img src="/static/images/shopping-cart1.png" width="25px" height="26px" ></a>
                <a id="href-products" href="#">Список товарів</a>
                <a class="clients-img" href="#"><img src="/static/images/group1.png" width="30px" height="30px" ></a>
                <a id="href-clients" href="#">Клієнти</a>
                <a class="analytics-img" href="#"><img src="/static/images/analytics1.png" width="30px" height="30px" ></a> </a>
                <a class="herf-analytics" style="font-size: large;" href="#">Аналітика</a>
                <a class="user-img" href="#"><img src="/static/images/user1.png" width="30px" height="30px" ></a>
                <a class="href-user" style="font-size: large;" href="#">Користувачі</a>
                <a class="exit1-img" href="#"><img src="/static/images/exit1.png" width="30px" height="30px" ></a>
                <a class="href-exit" style="font-size: large;" href="#">Вийти</a>
            </nav>
        </div >
        
        <div class="navbar">
            <ul class="nav justify-content-start">
                <li class="nav-item">
                    <a id="active-page" href="#">Список доставок</a>
                </li>
            </ul>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <button id="print-ttn" class="btn btn-outline-primary" href="#" type="button">Друк ЕН/Маркування</button>
                    <button id="create-shipment" class="btn btn-primary" href="#" type="button">Створити доставку</button>
                </li>
            </ul>
            <div id="order-alert" class="order-alert" style="display: none;">
              <img src="/static/images/bell.png" alt="Bell Icon" class="bell-icon">
              <span>Ви отримали нове замовлення</span>
              <button class="close-btn">&times;</button>
            </div>
        </div>     

        <div class="main-content-div">
            <div class="rectangle-5">
                <div class="navi">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="searchButton">Пошук</button>
                        <input type="text" class="form-control flex-grow-1" id="searchInput" placeholder="Введіть номер ТТН" aria-label="Пошук по номеру ТТН" aria-describedby="searchButton">
                    </div>
                </div>

                <div class="mytable">
                    <table class="table" id="shipmentsTable">
                        <thead>
                            <tr>
                                <th scope="col">Номер ТТН</th>
                                <th scope="col">Номер замовлення</th>
                                <th scope="col">Отримувач</th>
                                <th scope="col">Дата створення</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center" id="paginationContainer"></ul>
                  </nav>
            </div>
        </div>

<!-- Модальное вікно для створення доставки -->
<div class="modal fade" id="createShipmentModal" tabindex="-1" aria-labelledby="createShipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createShipmentModalLabel">Створити доставку</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createShipmentForm">
                    <div class="select-wrapper">
                        <label for="sender-city-search">Населенний пункт відправника:</label>
                        <input type="text" id="sender-city-search" class="search-input" placeholder="Введіть назву населеного пункту">
                        <div id="sender-city-options" class="options-container"></div>
                      </div>
                      
                      <div class="select-wrapper">
                        <label for="sender-warehouse-search">Відділення відправника:</label>
                        <input type="text" id="sender-warehouse-search" class="search-input" placeholder="Введіть номер відділення">
                        <div id="sender-warehouse-options" class="options-container"></div>
                      </div>
                      
                      <div class="select-wrapper">
                        <label for="recipient-city-search">Населенний пункт одержувача:</label>
                        <input type="text" id="recipient-city-search" class="search-input" placeholder="Введіть назву населеного пункту">
                        <div id="recipient-city-options" class="options-container"></div>
                      </div>
                      
                      <div class="select-wrapper">
                        <label for="recipient-warehouse-search">Відділення одержувача:</label>
                        <input type="text" id="recipient-warehouse-search" class="search-input" placeholder="Введіть номер відділення">
                        <div id="recipient-warehouse-options" class="options-container"></div>
                      </div>                 
  
                <div class="mb-3">
                    <label for="payerType" class="form-label">Тип платника</label>
                    <select class="form-select" id="payerType" name="payerType" required>
                        <option value="Sender">Відправник</option>
                        <option value="Recipient">Отримувач</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod" class="form-label">Форма розрахунку</label>
                    <select class="form-select" id="paymentMethod" name="paymentMethod" required>
                        <option value="Cash">Готівка</option>
                        
                    </select>
                </div>
                <div class="mb-3">
                    <label for="dateTime" class="form-label">Дата відправки</label>
                    <input type="date" class="form-control" id="dateTime" name="dateTime" required>
                </div>
                <div class="mb-3">
                    <label for="weight" class="form-label">Фактична вага, кг</label>
                    <input type="text" class="form-control" id="weight" name="weight" min="0.1" step="0.1" required>
                </div>
                <div class="mb-3">
                    <label for="serviceType" class="form-label">Технологія доставки</label>
                    <select class="form-select" id="serviceType" name="serviceType" required>
                        <option value="WarehouseWarehouse">Відділення-Відділення</option>
                        
                    </select>
                </div>
                <div class="mb-3">
                    <label for="seatsAmount" class="form-label">Кількість місць відправлення</label>
                    <input type="number" class="form-control" id="seatsAmount" name="seatsAmount" min="1" required>
                  </div>
                  <div class="seat-options">
                    <h6>Параметри місця відправлення (тільки для відправлення на поштомат)</h6>
                    <div class="mb-3">
                      <label class="form-label">Об'єм (м³)</label>
                      <input type="number" class="form-control volumetric-volume" min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Ширина (см)</label>
                      <input type="number" class="form-control volumetric-width" min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Довжина (см)</label>
                      <input type="number" class="form-control volumetric-length" min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Висота (см)</label>
                      <input type="number" class="form-control volumetric-height" min="0" step="0.01">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Вага (кг)</label>
                      <input type="number" class="form-control weight" min="0" step="0.01">
                    </div>
                  </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Опис відправлення</label>
                    <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="cost" class="form-label">Оціночна вартість</label>
                    <input type="number" class="form-control" id="cost" name="cost" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    <label for="afterpaymentOnGoodsCost" class="form-label">Сума наложеного платежу</label>
                    <input type="number" class="form-control" id="afterpaymentOnGoodsCost" name="afterpaymentOnGoodsCost" min="0" step="0.01">
                </div>
                <div class="mb-3">
                    <label for="sender" class="form-label">Відправник</label>
                    <div class="custom-select">
                        <input type="text" id="senderInput" placeholder="Виберіть відправника">
                        <ul id="senderList"></ul>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="senderPhone" class="form-label">Номер телефону відправника</label>
                    <input class="form-control" id="senderPhone" name="senderPhone" required>
                </div>

                <div class="mb-3">
                    <label for="recipient" class="form-label">Отримувач</label>
                    <div class="custom-select">
                        <input type="text" id="recipientInput" placeholder="Виберіть отримувача">
                        <ul id="recipientList"></ul>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="recipientPhone" class="form-label">Номер телефону отримувача</label>
                    <input class="form-control" id="recipientPhone" name="recipientPhone" required>
                </div>

                <div class="mb-3">
                    <label for="ord_id" class="form-label">ІD замовлення</label>
                    <input class="form-control" id="ord_id" name="ord_id" required>
                </div>

                <div>
                    <button type="button" class="btn btn-primary" id="createCounerparty" data-toggle="modal" data-target="#counterpartyModal">
                        Створити контрагента
                    </button>
                    <button type="button" class="btn btn-danger" id="deleteCounterparty" data-toggle="modal" data-target="#deleteCounterpartyModal">
                        Видалити контрагента
                      </button>
                </div>
                <!-- ... -->
            </form>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="submit" form="createShipmentForm" class="btn btn-primary">Створити</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для удаления контрагента -->
<div class="modal fade" id="deleteCounterpartyModal" tabindex="-1" role="dialog" aria-labelledby="deleteCounterpartyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteCounterpartyModalLabel">Видалення контрагента</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="deleteCounterpartyInput" class="form-label">Виберіть контрагента для видалення:</label>
            <div class="custom-select">
              <input type="text" id="deleteCounterpartyInput" placeholder="Виберіть контрагента">
              <ul id="deleteCounterpartyList"></ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
          <button type="button" class="btn btn-danger" id="deleteCounterpartyButton">Видалити</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="contactPersonModal" tabindex="-1" role="dialog" aria-labelledby="contactPersonModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactPersonModalLabel">Создание контактного лица</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createContactPersonForm">
            <div class="mb-3">
              <label for="counterpartySelect" class="form-label">Контрагент</label>
              <select class="form-select" id="counterpartySelect" required></select>
            </div>
            <div class="mb-3">
              <label for="contactPersonFirstName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="contactPersonFirstName" required>
            </div>
            <div class="mb-3">
              <label for="contactPersonLastName" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="contactPersonLastName" required>
            </div>
            <div class="mb-3">
              <label for="contactPersonMiddleName" class="form-label">Отчество</label>
              <input type="text" class="form-control" id="contactPersonMiddleName">
            </div>
            <div class="mb-3">
              <label for="contactPersonPhone" class="form-label">Телефон</label>
              <input type="tel" class="form-control" id="contactPersonPhone" required>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="createContactPersonButton">Создать</button>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="counterpartyModal" tabindex="-1" role="dialog" aria-labelledby="counterpartyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="counterpartyModalLabel">Створення контрагента</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="firstName">Імя'я</label>
                        <input type="text" class="form-control" id="firstName" required>
                    </div>
                    <div class="form-group">
                        <label for="middleName">По батькові</label>
                        <input type="text" class="form-control" id="middleName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Прізвище</label>
                        <input type="text" class="form-control" id="lastName" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Телефон</label>
                        <input type="tel" class="form-control" id="phone" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="form-group">
                        <label for="counterpartyType">Тип контрагента</label>
                        <select class="form-control" id="counterpartyType" required>
                            <option value="PrivatePerson">Приватне лице</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="counterpartyProperty">Властивість контрагента</label>
                        <select class="form-control" id="counterpartyProperty" required>
                            <option value="Recipient">Отримувач</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" id="saveCounterparty">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="print-ttn-modal" tabindex="-1" role="dialog" aria-labelledby="print-ttn-labelModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="print-ttn-labelModalLabel">Створення контрагента</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div>
                <label for="doc_type" class="form-label">Форма розрахунку</label>
                <select class="form-select" id="doc_type" name="doc_type" required>
                  <option value="ttnFull" selected>Накладна</option>
                  <option value="ttnMark">Наліпка</option>
              </select>
            </div>
          <div class="mb-3">
            <label for="ttnSearch" class="form-label">Пошук ТТН за номером замовлення:</label>
            <div class="custom-select">
              <input type="text" id="ttnSearch" placeholder="Введіть номер замовлення">
              <ul id="ttnList"></ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-primary" id="printTTN">Отримати для друку</button>
        </div>
      </div>
    </div>
  </div>

        <!-- Модальне вікно для перегляду інформації про доставку -->
        <div class="modal fade" id="shipmentModal" tabindex="-1" aria-labelledby="shipmentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="shipmentModalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Інформація про доставку -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                        <button type="button" class="btn btn-danger" id="deleteTTNButton">Видалити</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/np-select@1.0.3/build/np-select.umd.js"></script>
    <script src="../static/js/delivery.js"></script>
</body>
</html>