<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
</head>
<body>

  <div class="white-stripe"></div>
<div class="full-page-background"></div>    

  <div class="my-content">    

  <div class="full-height-70px-width-div">
    <a class="home-img" href="#"><img src="../images/home.png" width="30px" height="30px" ></a>
    <a class="offer-list-img" href="#"><img src="../images/shopping-cart.png" width="25px" height="26px" ></a>
    <a class="clients-img" href="#"><img src="../images/group.png" width="30px" height="30px" ></a>
    <div class="div-70x70px">

    </div>

  </div>

    <div class="menu">

      <div class="menu-bckground">

        <div class="in-menu-div-70x70px">

          <a class="menu2-btn" href="#">L</a>

          </div>

        </div>

        <a class="menu-btn" href="#">L</a>

     <nav class="menu-list">
        <a class="home-img" href="#"><img src="../images/home.png" width="30px" height="30px" ></a>
        <a id="href-main" href="#">Головна</a>

        <a class="offer-list-img" href="#"><img src="../images/shopping-cart.png" width="25px" height="26px" ></a>
        <a id="href-offer-list" href="#">Список замовлень</a>

        <a class="clients-img" href="#"><img src="../images/group.png" width="30px" height="30px" ></a>
        <a id="href-clients" href="#">Кієнти</a>
     </nav>

    </div >
    <div class="navbar">
    <ul class="nav justify-content-start">

      <li class="nav-item">
        <a id="active-page" href="#">Список замовлень</a>
        </li>
    </ul>

    <ul class="nav justify-content-end">

      <li class="nav-item">
          <a id="status-management" class="btn btn-outline-primary" href="#" role="button">Управління статусами</a>
        </li>
        <li class="nav-item">
          <a id="export" class="btn btn-outline-primary" href="#" role="button">Експорт</a>
        </li>
        <li class="nav-item">
          <button id="create-offer" class="btn btn-primary" href="#" type="button">Створити замовлення</button>
        </li>
     </div>     
    </ul>
    <div class="main-conent-div">
    <div class="rectangle-5">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Фільтр замовлення
        </button>
        <ul class="dropdown-menu">
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="CheckNewest">
            <label class="form-check-label" for="flexCheckDefault">
             Від найновіших
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="CheckOldest">
            <label class="form-check-label" for="flexCheckDefault">
             ВІд старіших 
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
             Фільтр 2 
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
             Фільтр 3 
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
             Фільтр 4 
            </label>
          </li>
          <li class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
             Фільтр 5 
            </label>
          </li> 
        </ul>

        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Пошук</button>
          <input type="text" class="form-control" placeholder="Пошук по номеру замовлення, ПІБ покупця, номеру телефона, Email" aria-label="Пример текста с надстройкой кнопкой" aria-describedby="button-addon1">
        </div>
      </div>
      <div class="mytable">
      <table class="table" id="table1">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Замовлення</th>
            <th scope="col">Загальна сумма</th>
            <th scope="col">Клієнт</th>
            <th scope="col">Доставка і оплата</th>
            <th scope="col">Статус</th>
          </tr>
        </thead>
        <tbody>
         

        </tbody>
      </table>
      </div>
    </div>

    <div class="modal fade" id="createOrderModal" tabindex="-1" aria-labelledby="createOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createOrderModalLabel">Створити замовлення</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="createOrderForm">
              <div class="mb-3">
                <label for="customerName" class="form-label">Ім'я замовника</label>
                <input type="text" class="form-control" id="customerName" required>
              </div>
              <div class="mb-3">
                <label for="customerPhone" class="form-label">Номер телефону</label>
                <input type="tel" class="form-control" id="customerPhone" required>
              </div>
              <div class="mb-3">
                <label for="customerEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="customerEmail" required>
              </div>
              <div class="mb-3">
                <label for="shippingMethod" class="form-label">Метод доставки</label>
                <select class="form-select" id="shippingMethod" required>
                  <option value="">Виберіть метод доставки</option>
                  <option value="nova_poshta">Нова пошта</option>
                  <option value="ukr_poshta">Укрпошта</option>
                  <!-- Добавьте другие методы доставки по необходимости -->
                </select>
              </div>
              <div class="mb-3">
                <label for="paymentMethod" class="form-label">Метод оплати</label>
                <select class="form-select" id="paymentMethod" required>
                  <option value="">Виберіть метод оплати</option>
                  <option value="cash_on_delivery">Накладений платіж</option>
                  <option value="bank_transfer">Банківський переказ</option>
                  <!-- Добавьте другие методы оплаты по необходимости -->
                </select>
              </div>
              <!-- Добавьте другие поля формы по необходимости -->
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            <button type="button" class="btn btn-primary" id="createOrderBtn">Створити замовлення</button>
          </div>
        </div>
      </div>
    </div>    

    <!-- Модальное окно -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Навигация с помощью табов -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">Вкладка 1</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">Вкладка 2</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">Вкладка 3</button>
          </li>
        </ul>
        <!-- Содержимое табов -->
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
            Содержимое вкладки 1
          </div>
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            Содержимое вкладки 2
          </div>
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            Содержимое вкладки 3
          </div>
        </div>
      </div>
      <div class="modal-footer ">
        <button type="button" class="btn btn-outline-danger" id="delete-order" href="#">Видалити замовлення</button>
        <button type="button" class="btn btn-outline-primary" id="save-info" href="#">Зберегти</button>
        <button type="button" class="btn btn-primary" id="save-button" href="#">Друк</button>
      </div>
    </div>
  </div>
</div>
<!-- Модальное окно -->
    </div>
  </div>

  <script>
    const ordersData = `{% autoescape false %}{{ orders | tojson | safe }}{% endautoescape %}`;
    console.log(ordersData);
    // Ваш JavaScript-код для обработки ordersData и заполнения таблицы
</script>

<script src="../static/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>